body {
    font-family: 'Montserrat', 'Noto Serif', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 75px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 45px;
}

h4{
    font-size: 25px;
}

.icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
 }

 .icon.green{
    background-color: #00dd80;
    color: white;
} 

/* Padronização ^ ^ ^ ^ */

/* Header */

header {
    background: #34464c url(../images/bg-ho,me.jpg) right top;
    color: white;
}

header .header {
    margin: 0 auto;
    padding: 0 0 20px;
    width: 67%;
}

header .header nav .logo {
    display: flex;
    text-align: justify;
    align-items: center;
}

header .header nav .logo .icon {
    font-size: 20px;
    height: 45px;
    margin: 7px;
    width: 45px;
}

header .header nav .logo #logo-lgpd {
    text-align: justify;
    width: 100px;
}

header .header nav .logo #logo-lgpd #lgpd{
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 600;
}

header .header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
}

header .header nav .menu {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}


header nav .menu li a {
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: .3s ease;
}

header nav .menu li a:hover {
    color: #00dd80;
}

header nav .menu li:not(:last-child) a {
    padding-right: 25px;
}

header .header-title {
    margin: 150px auto;
    text-align: center;
    width: 90%;
}

header .header-title h2{
    color: #00dd80;
    font-style: italic;
    font-weight: 300;
}

header .header-title h1{
    text-transform: uppercase;
    text-shadow: 0 0 60px #00dd80;
    margin: 10px 0 60px;
}

header .header-title .button-default {
    background-color: transparent;
    border: none;
}

header .header-title .button-default a{
    background: #00dd80;
    border: 3px solid #00dd80;
    border-radius: 5px;
    box-sizing: border-box;
    color: #34464c;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 40px;
    text-transform: uppercase;
    transition: .3s ease;
}

header .header-title .button-default a:hover {
    background: #00b76a;
    border: 1px solid #00dd80;
}

header .header-title .button-default a:active {
    color: white;
    border: 5px solid #008d52;
}



 /* Main */

.main-main .main-section:nth-child(even) {
    background: #f8f8f8;
} 

.main-main .main-section .div-main-section {
    padding: 70px 0;
    margin: 0 auto;
    width: 67%;
}

.main-main .main-section .div-main-section p{
    color: #34464c;
}

.main-main .main-section .div-main-section .sub-header {
    text-align: center;
    margin-bottom: 50px;
}

.main-main .main-section .div-main-section .sub-header h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}


/* Services */

.main-main .main-section .div-main-section .services-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main-main .main-section .div-main-section .services-card .card {
    width: 30%;
}

.main-main .main-section .div-main-section .services-card .card .icon {
    font-size: 65px;
    height: 125px;
    margin: 0 auto 10px;
    width: 125px;
}

.main-main .main-section .div-main-section .services-card .card h4 {
    margin: 20px 0 10px;
}

.main-main .main-section .div-main-section .services-card .card p {
    font-weight: 500;
    line-height: 1.7;
}


/* portifolio */


.main-main .main-section .div-main-section .portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.main-main .main-section .div-main-section .portfolio-card .card {
    background: #fff;
    margin-bottom: 30px ;
    width: 32%;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img {
    height: 267.39px;
    position: relative;
    overflow: hidden;
}

    
.main-main .main-section .div-main-section .portfolio-card .card .card-img::after {
    align-items: center;
    background-color: transparent;
    bottom:0px;
    color: #fff;
    cursor: pointer;
    content: "+";
    display: flex;
    font-size: 100px;
    justify-content: center;
    left:0;
    position: absolute;
    right:0;
    top: 300px;
    transition: ease .3s;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img:hover::after {
    background-color: rgba(73, 191, 158, 0.671);
    top: 0;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img img {
    width: 100%;
}

.main-main .main-section .div-main-section .portfolio-card .card h4 {
    margin: 20px 0 -10px;
}



/* Team */

.main-main .main-section .div-main-section .team {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-main .main-section .div-main-section .team .team-card {
    text-align: center;
    width: 20%;
}

.main-main .main-section .div-main-section .team .team-card .team-card-img img {
    border: 10px solid #ddd;
    border-radius: 50%;
    width: 100%;
}

.main-main .main-section .div-main-section .team .team-card h4 {
    margin: 20px 0 -10px;
}
.main-main .main-section .div-main-section .team .team-card .icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.main-main .main-section .div-main-section .team .team-card .icons .team-icon {
    align-items: center;
    background-color: #34464c;
    border-radius: 50%;
    color: #f8f8f8;
    display: flex;
    font-size: 18px;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.main-main .main-section .div-main-section .team .description {
    text-align: center;
    margin: 30px auto 0;
    width: 70%;
}



/* Patrocínios */

.main-main .main-section .div-main-section.sponsorship {
    align-items: center;
    display: flex;
    justify-content: space-between;
}




