body {
    font-family: 'Montserrat', 'Noto Serif', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 75px;
}

h2{
    font-size: 34px;
}

h3{
    font-size: 45px;
}

h4{
    font-size: 25px;
    margin: 0;
}

.icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
 }

 .icon.green{
    background-color: #00dd80;
    color: white;
} 

/* Padronização ^ ^ ^ ^ */

/* Header */

header {
    background-image: linear-gradient(to right, rgba(52, 70, 76, 0.95), rgba(52, 70, 76, 0.95)), url(../images/bg-home.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top right;
    color: white;
}

header .header {
    margin: 0 auto;
    padding: 0 0 20px;
    width: 67%;
}

header .header nav .dropdown input[type="checkbox"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

header .header nav .dropdown span {
    display: none;
}

header .header nav .logo {
    display: flex;
    text-align: justify;
    align-items: center;
}

header .header nav .logo .icon {
    font-size: 20px;
    height: 45px;
    margin: 7px;
    width: 45px;
}

header .header nav .logo #logo-lgpd {
    text-align: justify;
    width: 100px;
}

header .header nav .logo #logo-lgpd #lgpd{
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 600;
}

header .header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
}

header .header nav .menu {
    display: flex;
    list-style-type: none;
    text-transform: uppercase;
}


header nav .menu li a {
    color: white;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: .3s ease;
}

header nav .menu li a:hover {
    color: #00dd80;
}

header nav .menu li:not(:last-child) a {
    padding-right: 25px;
}

header .header-title {
    margin: 150px auto;
    text-align: center;
    width: 90%;
}

header .header-title h2{
    color: #00dd80;
    font-style: italic;
    font-weight: 300;
}

header .header-title h1{
    text-transform: uppercase;
    text-shadow: 0 0 60px #00dd80;
    margin: 10px 0 60px;
}

header .header-title .button-default {
    background-color: transparent;
    border: none;
}

header .header-title .button-default a{
    background: #00dd80;
    border: 3px solid #00dd80;
    border-radius: 5px;
    box-sizing: border-box;
    color: #34464c;
    font-size: 20px;
    font-weight: 600;
    padding: 25px 40px;
    text-transform: uppercase;
    transition: .3s ease;
}

header .header-title .button-default a:hover {
    background: #00b76a;
    border: 1px solid #00dd80;
}

header .header-title .button-default a:active {
    color: white;
    border: 5px solid #008d52;
}



 /* Main */

.main-main .main-section:nth-child(even) {
    background: #f8f8f8;
} 

.main-main .main-section .div-main-section {
    padding: 70px 0;
    margin: 0 auto;
    width: 67%;
}

.main-main .main-section .div-main-section p{
    color: #34464c;
}

.main-main .main-section .div-main-section .sub-header {
    text-align: center;
    margin-bottom: 50px;
}

.main-main .main-section .div-main-section .sub-header h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.main-main .main-section .div-main-section .sub-header p {
    font-style: italic;
}

/* Services */

.main-main .main-section .div-main-section .services-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.main-main .main-section .div-main-section .services-card .card {
    width: 30%;
}

.main-main .main-section .div-main-section .services-card .card .icon {
    font-size: 65px;
    height: 125px;
    margin: 0 auto 10px;
    width: 125px;
}

.main-main .main-section .div-main-section .services-card .card h4 {
    margin: 20px 0 10px;
}

.main-main .main-section .div-main-section .services-card .card p {
    font-weight: 500;
    line-height: 1.7;
}


/* portifolio */


.main-main .main-section .div-main-section .portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.main-main .main-section .div-main-section .portfolio-card .card {
    background: #fff;
    margin-bottom: 30px ;
    width: 32%;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img {
    position: relative;
    overflow: hidden;
    height: auto;
}


.main-main .main-section .div-main-section .portfolio-card .card .card-img::after {
    align-items: center;
    background-color: transparent;
    bottom: 0px;
    color: #fff;
    cursor: pointer;
    content: "+";
    display: flex;
    font-size: 100px;
    justify-content: center;
    left:0;
    position: absolute;
    right:0;
    top: 300px;
    transition: ease .3s;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img:hover::after {
    background-color: rgba(73, 191, 158, 0.671);
    top: 0;
}

.main-main .main-section .div-main-section .portfolio-card .card .card-img img {
    height: auto;
    max-width: 100%;    
    vertical-align: middle;
}

.main-main .main-section .div-main-section .portfolio-card .card h4 {
    margin: 20px 0 -10px;
}


/* About */

.main-main .main-section .div-main-section .maybe-a-card-dad {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* Container e  Texto ao lado *esquerda**/
.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card {
    align-items: center;
    display: flex;
    margin-right: calc(50% - 90px);
    margin-bottom: 100px;
    position: relative;
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card .maybe-a-description {
    text-align: right;
    margin-right: 100px;
    order: -1;
}

/* Container e Texto ao lado *direita* */
.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) {
    margin-right: 0;
    margin-left: calc(50% - 90px);
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) .maybe-a-description{
    text-align: left;
    margin: 0 0 0 100px;
    order: 1;
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card img {
    border: 5px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    height: 180px;
    width: 180px;
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-line {
    background-color: #ddd;
    height: 3200px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    width: 2px;
    z-index: -1;
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-greenball {
    background: #00dd80;
    border: 5px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    height: 200px;
    margin: 0 auto;
    width: 200px;
}

.main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-greenball h4 {
    color: white;
    line-height: 1.2;
    text-align: center;
    margin: 25% 0;
}

/* Team */

.main-main .main-section .div-main-section .team {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-main .main-section .div-main-section .team .team-card {
    text-align: center;
    width: 20%;
}

.main-main .main-section .div-main-section .team .team-card .team-card-img img {
    border: 10px solid #ddd;
    border-radius: 50%;
    box-sizing: border-box;
    width: 100%;
}

.main-main .main-section .div-main-section .team .team-card h4 {
    margin: 20px 0 -10px;
}
.main-main .main-section .div-main-section .team .team-card .icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.main-main .main-section .div-main-section .team .team-card .icons .icon {
    background-color: #34464c;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 18px;
    height: 40px;
    transition: .3s ease;
    width: 40px;
}

.main-main .main-section .div-main-section .team .team-card .icons .icon:hover {
    color: #fff;
    background-color: #23272b;
}

.main-main .main-section .div-main-section .team .description {
    text-align: center;
    margin: 30px auto 0;
    width: 70%;
}



/* Patrocínios */

.main-main .main-section .div-main-section.sponsorship {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



/* Contato */


.main-main .main-section:last-child {
    background-color: #34464c;
    background-image: url(../images/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff
}


.main-main .main-section:last-child .div-main-section p {
    color: #fff;
}


.main-main .main-section .div-main-section .contact form {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-main .main-section .div-main-section .contact form #left {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
    justify-content: space-between;
    width: 49%;
}

.main-main .main-section .div-main-section .contact form #left div{
    width: 100%;
}

.main-main .main-section .div-main-section .contact form #left div input {
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    height: 60px;
    padding: 10px;
    width: 100%;    
}

.main-main .main-section .div-main-section .contact form #left div input:focus {
    border: 2px solid #00dd80;
}

.main-main .main-section .div-main-section .contact form #right {
    width: 49%;
}

.main-main .main-section .div-main-section .contact form #right textarea {
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    height: 226px;
    padding: 10px;
    resize: none;
    width: 100%; 
}


/*  footer */

footer {
    padding: 20px 0;
}

footer .div-main-footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
}

footer .div-main-footer .icons{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

footer .div-main-footer .icons .icon {
    background-color: #34464c;
    cursor: pointer;
    color: #f8f8f8;
    font-size: 18px;
    height: 40px;
    transition: .3s ease;
    width: 40px;
}

footer .div-main-footer .icons .icon:not(:last-child){
    margin-right: 25px;
}

footer .div-main-footer .icons .icon:hover {
    color: #fff;
    background-color: #23272b;
}

footer .div-main-footer .links {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

footer .div-main-footer .links p {
    text-align: center;
    margin: 0 10px;
} 

footer .div-main-footer .links p a {
    color: #00dd80;
    transition: .3s ease;
}

footer .div-main-footer .links p a:hover {
    color: #008d52;
    text-decoration: underline #008d52;
}

@media screen and (max-width: 1050px) {
    /* cabeçalho */
    
    header .header{
        width: 100%;
    }
    
    header .header nav {
        background-color: white;
        box-shadow: 0 1px 5px 2px #ddd;
        color: black;
        justify-content: space-between;
        padding: 20px 10px 10px;
        z-index: 2;
    }
    
    header .header nav .dropdown span {
        align-items: center;
        background-color: #00dd80;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        height: 35px;
        width: 35px;
    }
    
    header .header nav .dropdown .menu {
        background-color: #fff;
        box-shadow: 0 3px 3px 0px #ddd;
        box-sizing: border-box;
        display: block;
        left: 0;
        margin: 0 auto;
        padding: 15px 10px;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transition: .3s ease;
        top: 73px;
        width: 100%;
        z-index: 0;
    }
    
    header .header nav .dropdown .menu li {
        padding: 10px 0 10px 10px;
    }
    
    header .header nav .dropdown .menu li a {
        color: #00dd80;
    }
    
    header .header nav .dropdown input[type="checkbox"]:checked ~ .menu{
        opacity: 1;
        pointer-events: initial;
        top: 73px;
    }
    header .header nav .dropdown input[type="checkbox"]:checked ~ .menu li {
        width: 100%;
    }
    
    header .header nav .dropdown input[type="checkbox"]:checked ~ .menu li:hover a {
        color: #008d52;
    }

}

@media screen and (max-width: 768px) {
    
    
    /* conteúdo príncipal */

    .main-main .main-section .div-main-section {
        width: 90%;
    }   

    /* Protifólio */

    .main-main .main-section .div-main-section .portfolio-card .card {
        width: 49%;
    }

    .main-main .main-section .div-main-section .portfolio-card .card .card-img {
        height: 247.39px;
    }

    /* About */

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card {
        align-items: flex-start;
        display: inline-flex;
        margin-right: calc(50% - 60px);
    }

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) {
        margin-left: calc(50% - 60px);
        margin-right: 0;
    }

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card .maybe-a-description {
        margin-right: 50px;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) .maybe-a-description {
        margin: 0 0 0 50px;
    }

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card img {
        display: inline-flex;
        height: 120px;
        width: 120px;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-greenball {
        height: 120px;
        width: 120px;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-greenball h4 {
        font-size: 17px;
    }

    /* Team */

    .main-main .main-section .div-main-section .team {
        display: block;
    }

    .main-main .main-section .div-main-section .team .team-card {
        margin: 0 auto 50px;
        width: 37%;
    }

    .main-main .main-section .div-main-section .team .description {
        width: 100%;
    }

    /* Footer */

    footer .div-main-footer {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 50%;
    }

    footer .div-main-footer .icons {
        justify-content: center;
    }

    footer .div-main-footer .links {
        font-size: 15px;
        justify-content: space-around;
    }

    /* Patrocíonio */

    .main-main .main-section .div-main-section.sponsorship {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .main-main .main-section .div-main-section.sponsorship div {
        margin: 15px 10px;
    }

    /* Footer */

    footer .div-main-footer .links p {
        text-align: center;
        margin: 10px 2px 0;
    }
}

@media screen and (max-width: 660px) {
    .main-main .main-section .div-main-section .services-card {
        display: block;
    }

    .main-main .main-section .div-main-section .services-card .card {
        width: 100%;
        margin-bottom: 40px;
    }
    
    .main-main .main-section .div-main-section .portfolio-card {
        display: block;
    }

    .main-main .main-section .div-main-section .portfolio-card .card {
        width: 100%;
    }


    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card {
        margin-left: 0;
        margin-right: 0;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card .maybe-a-description {
        margin: 0 0 0 10px;
        order: 1;
        text-align: left;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) {
        margin-left: 0;
        margin-right: 0;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card:nth-child(even) .maybe-a-description{
        margin: 0 0 0 10px;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-line {
        height: 3200px;
        left: 59px;
    }
    
    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-greenball {
        margin: 0;
    } 

    .main-main .main-section .div-main-section .contact form {
        display: block;
    }
    
    .main-main .main-section .div-main-section .contact form #left {
        width: 100%;
    }

    .main-main .main-section .div-main-section .contact form #right {
        width: 100%;
    }
    
    footer .div-main-footer .links a {
        margin: 0;
    }

}
    


@media screen and (max-width: 550px) {

    header .header .header-title h2 {
        font-size: 17px;
    } 

    header .header .header-title h1 {
        font-size: 34px;
    }
    header .header .header-title .button-default a {
        font-size: 17px;
        padding: 15px 30px;
    }

    .main-main .main-section .div-main-section .team .team-card {
        width: 55%;
    }

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card .maybe-a-description h4 {
        font-size: 20px;
    } 

    .main-main .main-section .div-main-section .maybe-a-card-dad .maybe-a-card .maybe-a-description p {
        font-size: 15px;
    }

}